{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}
    <h1>Вход</h1>
    {% if form.errors %}
        <p>
            Ваше имя пользователя и пароль не совпадали.
            Пожалуйста, попробуйте еще раз.
        </p>
    {% else %}
        <p>Пожалуйста, авторизируйтесь:</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}"/>
            <p><input type="submit" value="Войти"></p>
        </form>
    </div>
{% endblock %}
