{% extends 'account/main.html' %}
{% load static %}
{% block title_page %}
<title>Доставка и оплата</title>
{% endblock title_page %}
{% block content %}
<section class="main-section team">
        <div class="container">
            <h2>Доставка</h2>
            <h4>Мы производим отправку заказов по всем городам России. Доставка до Почты России и любой транспортой компании - бесплатно. При оформлении заказа вы можете выбрать различные способы доставки:</h4>

            <h3><b>1. Курьерская доставка</b></h3>
            <h4>Стоимость: от 150 руб. Для жителей Таганрога при покупке от 2 000 руб. доставка БЕСПЛАТНАЯ.</h4>
            <h4>Срок: сборка и доставка заказов занимает 7-10 дней рабочих дней.</h4>

            <h3><b>2. Почта России</b></h3>
            <h4>Посылка отправляется наложенным платежом, то есть стоимость заказа оплачивается на почте при получении.</h4>
            <h4>Стоимость: Варьирует от 170 рублей и выше. Стоимость доставки зависит от веса товара и удаленности региона получателя.</h4>
            <h4>Срок: Сборка и отправка заказов занимает 7-10 рабочих дней, контрольные сроки доставки посылок почтой России 5-30 рабочих дней, в зависимости от удаленности региона получателя.</h4>

            <h3><b>3. Самовывоз</b></h3>
            <h4>Забрать заказ самостоятельно можно в нашем пункте выдачи по адресу: Ростовсская обл., г. Таганрог, ул. Дзержинского, 1712</h4>
            <h4>Стоимость: БЕСПЛАТНАЯ.</h4>
            <h4>Срок: после подтверждения, заказ можно забрать в пункте выдачи в течение 5 дней.</h4>
        </div>

        <div class="container">
            <h2>Оплата</h2>

            <h3><b>1. Наложеный платёж (только Почтой России)</b></h3>
            <h4>Оплата заказа при отправке в регионы РФ осуществляется наложенным платежом(при получении заказа), отправка осуществляется только Почтой России.</h4>

            <h3><b>2. Безналичный расчет </b></h3>

            <h3><b>3. Наличными(для физических лиц, Таганрога, оплата при получении)</b></h3>
            <h4>Оплата заказа осуществляется при получении заказа.</h4>
        </div>

        <div class="container">
            <h2>Условия возврата и обмена</h2>

            <h3><b>1. Возврат и обмен товара надлежащего качества.</b></h3>
            <h4>Вы можете отказаться от заказанного товара в любое время до его получения, а после получения - в течение 14 дней, если товар не подошел Вам по форме, габаритам, фасону, расцветке, размеру или комплектации.

            Возврат товара надлежащего качества возможен в случае, если сохранены его товарный вид (упаковка, пломбы, ярлыки), потребительские свойства, а также документ, подтверждающий факт и условия покупки указанного товара (товарный или кассовый чек, квитанция, платежное поручение). Для возврата товара также необходим документ, удостоверяющий личность.

            При возврате товара надлежащего качества, ООО "Дельта" вернет его стоимость или произведет его замену (по Вашему требованию) не позднее чем через 10 рабочих дней с момента получения товара, Вашего письменного заявления и предварительной оплаты стоимости повторной доставки (в случае замены).</h4>

            <h3><b>Обмену не подлежат товары надлежащего качества:</b></h3>

            <h4>1) Имеющие индивидуально-определенные свойства, если указанный товар может быть использован исключительно приобретающим его покупателем;</h4>

            <h4>2) Указанные в Перечне непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену, утвержденном Постановлением Правительства РФ от 19.01.1998 № 55.</h4>

            <h4>Если на момент Вашего обращения по обмену товара, аналогичный товар отсутствует в продаже, Вы можете отказаться от товара и потребовать возврат его стоимости.</h4>

            <h3><b>2. Возврат и обмен товара ненадлежащего качества.</b></h3>
            <h4>Под товаром ненадлежащего качества подразумевается товар, который неисправен (имеет дефект) и не может обеспечить исполнение своих функциональных качеств. Отличие элементов дизайна или оформления от заявленных в описании на сайте не является неисправностью или не функциональностью товара.

            Если Вам был продан товар ненадлежащего качества, и оно не было заранее оговорено продавцом, Вы вправе воспользоваться положениями ст. 18 Закона о защите прав потребителей.

            Вы вправе отказаться от исполнения договора купли-продажи, возвратить товар ненадлежащего качества и потребовать возврата уплаченной за товар денежной суммы либо потребовать его замену в течение 30 дней со дня получения Вашего товара.

            Любые из перечисленных требований должны быть предъявлены Вами в письменной форме посредством заполнения заявления.</h4>

            <h3><b>Требования о возврате уплаченной за товар денежной суммы либо о его замене подлежат удовлетворению:</b></h3>

            <h4>1) В течение 10 рабочих дней с момента получения товара ненадлежащего качества и Вашего письменного заявления в случае отсутствия необходимости, в проведении дополнительной экспертизы позволяющей установить причину возникновения дефекта.</h4>

            <h4>2) В течение 30 рабочих дней с момента получения товара ненадлежащего качества и Вашего письменного заявления в случае необходимости проведения дополнительной экспертизы позволяющей установить причину возникновения дефекта.</h4>

            <h3><b>Внимание!!!</b></h3>

            <h4>При возврате или обмене товара надлежащего или ненадлежащего качества все расходы, связанные с транспортировкой товара от покупателя к продавцу и от продавца к покупателю (в случае замены товара) оплачиваются покупателем. Стоимость доставки не возмещается.
            Оплата выставленного счета означает согласие покупателя с изложенными выше условиями возврата товара.</h4>
        </div>
</section>


{% endblock content %}
