{% extends 'account/main.html' %}
{% load static %}
{% block title_page %}
<title>Контакты</title>
{% endblock title_page %}
{% block content %}

<div class="container">
    <section class="main-section contact" id="contact">

        <div class="row">
            <div class="col-lg-6 col-sm-7 wow fadeInLeft">
                <div class="contact-info-box address clearfix">
                    <h3></i>Адрес:</h3>
                    <span>Ростовсская обл., г. Таганрог<br>ул. Дзержинского, 1712</span>
                </div>
                <div class="contact-info-box phone clearfix">
                    <h3>Телефон:</h3>
                    <span>8 (988) 896-54-42</span>
                </div>
                <div class="contact-info-box email clearfix">
                    <h3>email:</h3>
                    <span>Delta_ru@gmail.com</span>
                </div>
                <div class="contact-info-box hours clearfix">
                    <h3>Время:</h3>
                    <span><strong>Понедельник - Пятница:</strong> 8:00 - 17:00<br><strong>Субботы - Воскресенье:</strong> Выходные.</span>
                </div>
                <ul class="social-link">
                    <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li class="gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li class="dribbble"><a href="#"><i class="fa fa-dribbble"></i></a></li>
                </ul>
            </div>
            <div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
                <div class="form">

                    <div id="sendmessage">Ваше сообщение уже отправлено. Спасибо!</div>
                    <div id="errormessage"></div>
                    <form action="" method="post" role="form" class="contactForm">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control input-text" id="name" placeholder="Ваше Имя" data-rule="minlen:4" data-msg="Пожалуйста, введите не менее 4 символов" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control input-text" name="email" id="email" placeholder="Ваше Email" data-rule="email" data-msg="Пожалуйста, введите email" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control input-text" name="subject" id="subject" placeholder="Вопрос" data-rule="minlen:4" data-msg="Пожалуйста, введите не менее 8 символов темы" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control input-text text-area" name="message" rows="5" data-rule="required" data-msg="Пожалуйста, напишите что-нибудь для нас" placeholder="Опишите вопрос"></textarea>
                            <div class="validation"></div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="input-btn" >Отправить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>


{% endblock content %}
